.jigsaw-results {
  border: 1px solid #fccd41;
  background-color: #ffffbb;
  padding: 1em;
  margin-bottom: 1em;
  max-height: 300px;
  overflow: auto;
}

.jigsaw-results.error {
  border 1px solid red;
  background-color: pink;
  background-image: none;
}

.CodeMirror {
  border: 1px solid #cccccc;
  padding: 1em;
}
.CodeMirror pre {
  line-height: 1.3em;
}

#ezcss-tools {
  text-align: right;
}
